h1 O vegánstve
p Vegánstvo je v súčasnosti najrýchlešie rastúcim sociálnym hnutím na svete. Čo motivuje mnohých ľudí na svete obmedziť svoju spotrebu živočíšnych produktov? Prečo veľa špičkových športovcov, hercov, umelcov, vedcov, ale aj bežných ľudí prechádza na vegánstvo? Pripoj sa k nim aj Ty a zoznám sa s troma základnými argumentami, ktoré Ti pomôžu pochopiť význam vegánstva pre svet, pre Tvoje okolie a pre Tvoj život.
.row
  .col-sm-4.submenu
    != partial('/../_common/submenu', {title: 'Ekológia', url: 'veganstvo/ekologia', content: 'Chceme zachovať našu planétu našim deťom tak ako ju poznáme my? Môže vegánstvo pomôcť v riešení ekologických problémov súčasnosti?'})
  .col-sm-4.submenu
    != partial('/../_common/submenu', {title: 'Zdravie', url: 'veganstvo/zdravie', content: 'Má vegánska strava zdravá? Môže mi prechod na vegánstvo vyriešiť niektoré mmoje zdravotné problémy?'})
  .col-sm-4.submenu
    != partial('/../_common/submenu', {title: 'Zvieratá', url: 'veganstvo/zvierata', content: 'Žijú zvieratá vo veľkochovoch vo vyhovujúcich podmienkach? Sú tieto zvieratá štastné a spokojné so svojim životom? Máme právo sa k nim takto správať?'})
