h1 Úvodná stránka
h4 Na úvodnej stránke bude prehľad všetkého, čo je na webe, urobím to nakoniec.

br

hr
.panel.panel-default
  .panel-heading Poznámky k webu SVS
  .panel-body
    ul
      li Táto stránka je len návrhom štruktúry, grafiku a dizajn som tu zatiaľ neriešil, aj štruktúra sa môže zmeniť, ak by bollo treba
      li Základ štruktúry je, že menu nie je rozbalovacie (dnes už to nie je moc moderné), ale po kliknutí na položku v menu sa zobrazí stránka kde je zoznam podmenu vždy s názvom, obrázkom (ktoré tam zatiaľ nie sú) a krátkym popisom.
      li Pri vytvorení štruktúry som sa inšpiroval stránkou&nbsp;
        a(href='https://www.vegansociety.com') Vegan Society
      li Čitateľovi tykať či vykať? ja zatiaľ tikám
      li napadlo mi, že by sme mohli osloviť reštaaurácie a opýtať sa ich, či majú v menu vegánnske jedlo a ak áno, že ich môžeme propagovať na našej stránke.
