h1 Obchody a reštaurácie
h4: em Kde nájdete obchody a reštaurácie s vegánskymi produktami?

.alert.alert-warning Treba dokončiť a pridať linky

h2 Špecializované vegánske predajne

h3 Bratislava

h4 Predajne
ul
  li vegana - potraviny, drogéria, jedlo pre zvieratá
  li zelená špajza - potraviny, drogéria, jedlo pre zvieratá
  li bio & vegan - potraviny, drogéria

h4 Reštaurácie
ul
  li veglife - obedové menu
  li vegan bar - obedové menu
  li bemba - raw vegan reštaurácia otvorená aj večer
  li thali - indická reštaurácia s obedovým menu

h3 Košice

ul
  li vegana

h3 Banská Bystrica

h2 Eshopy s vegánskymi produktami

ul
  li Vegana

h2 Celoslovenské obchodné siete

p Špecializované obchody s vegánskymi produktami je možné nájsť len vo väčších mestách, ale rôzne obchodné reťazce sú rozšírenejšie a predávajú viacero vegánskych produktov.

h3 Tesco

h3 Lídl

h3 Kaufland

.alert.alert-info Nenašli ste vašu obľúbenú predajňu vegánskych produktov alebo reštauráciu s ponukov vegánskych jedál?<br> Dajte nám vedieť, mi ju radi do zoznamu zaradíme.
