h1 Odporúčame

.row
  .col-sm-4.submenu
    != partial('/_common/submenu', {title: 'Knihy', url: '/odporucame/knihy', content: 'Knihy s vegánskou témmatikou'})
  .col-sm-4.submenu
    != partial('/_common/submenu', {title: 'Dokumenty', url: '/odporucame/dokumenty', content: 'Dokumentárne filmy s vegánskou témmatikou'})
  .col-sm-4.submenu
    != partial('/_common/submenu', {title: 'Články', url: '/odporucame/clanky', content: 'Zaujimmavé články o vegánstve'})
.row
  .col-sm-4.submenu
    != partial('/_common/submenu', {title: 'Vedecké štúdie', url: '/odporucame/stranky', content: 'Vedecké štúdie o vegánstve'})
  .col-sm-4.submenu
    != partial('/_common/submenu', {title: 'Stránky o vegánstve', url: '/odporucame/stranky', content: 'Zaujimmavé web stránky o vegánstve'})

