h1 Zmeň to

p Oslovila Ťa myšlienka vegánstva a chcel by si pomôcť k zmene? Nájdi si spôsob, ktorý Ti vyhovuje.

.row
  .col-sm-4.submenu
    != partial('/../_common/submenu', {title: 'Staň sa dobrovoľníkom', url: '/zmen-to/zapoj-sa', content: 'Ak by si chcel občas pomáhať na akciách SVS ako dobrovolník prihlas sa.' })
  .col-sm-4.submenu
    != partial('/../_common/submenu', {title: 'Staň sa sponzorom', url: '/zmen-to/zapoj-sa', content: 'Ak sa nechceš aktívne zapájať do akcií SVS, ale chcel by si pomôcť  finančne alebo svojimi schopnosťami, neváhaj.' })
  .col-sm-4.submenu
    != partial('/../_common/submenu', {title: 'Staň sa členom', url: '/zmen-to/zapoj-sa', content: 'Ak Ťa oslovila myšlienka vegánska a chcel by si sa stať aktívnym členom Slovenskej vegánskej spoločnosti, pozri si podmienky členstva.' })
.row
  .col-sm-4.submenu
    != partial('/../_common/submenu', {title: 'Novinky emailom', url: '/zmen-to/novinky-emailom', content: 'Chceš byť informovaný o našich akciách, prednáškach, besedách, o tom čo sa nám podarilo, prihlás sa do nášho newslettra.' })
  .col-sm-4.submenu
    != partial('/../_common/submenu', {title: 'Kampane', url: '/zmen-to/kampane', content: 'Chceš sa dozvedieť o našich aktuálnych kampaniach, pripadne nám pomôcť s ich propagáciou?' })
  .col-sm-4.submenu
    != partial('/../_common/submenu', {title: 'Eshop', url: '/zmen-to/eshop', content: 'Chceš si kúpiť tričko, hrnček, nálepky alebo iné suveníry s vegánskou témmatikou?' })
