h1 Zapoj sa

.alert.alert-warning dokončiť zatiaľ je to len draft

p Je viac spôsobov ako sa môžeš aktívne zapojiť a pomôcť šíreniu vegánskych myšlienok.

h2#dobrovolnik Staň sa dobrovoľníkom

p Ak sa chceš občas zapojiť do konkrétnych akcii napr. s predajom vegánskeho jedla, informačných akciách na ulici, môžeš sa prihlásiť ako dobrovoľník a pomáhať na verejných akciách.

h2#sponzor Staň sa sponzorom

p Ak nemáš čas zapojiť sa priamo do živých akcií, ale záleží Ti na šírení vegánskych myšlienok, môžeš nám jednorázovo alebo pravidelne mesačne posielať určitú sumu podľa Tvojich možností. Aj drobná pravidelná suma môže pomôcť zachrániť pár životov.

p Akou suma má význam? Každá. A lepšie je posielať pravidelne mesačne a menej ako jednorázovo viac.

ul
  li 1e - je to cena jedného kopčeka zmrzliny alebo cena lístku na MHD
  li 3e - je
  li 5e - je cena jedného obeda alebo jedného listku do kina
  li 10e - je cena jednej menšej knihy

p Tieto ceny sú samozrejme orientačné, je celkom na Tebe koľko peňazí budeš posielať.

p Každý sponzor si potom môže pozrieť na čo boli jeho peniaze použité. SVS používa transparentný účet, kde je možné vidieť všetky prípmy a výdavky nášho občianskeho združenia.

h2#clen Staň sa členom

p Pokiaľ chceš aktívne pomáhať SVS môžeš sa stať členom. Ročný členský príspevok je 24€. Je možné ho platiť ročne, štvrťročne alebo aj mesačne. Stiahni si prihlášku, vyplň ju a pošli na adresu ....
